html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #def;
}

svg {
    display: block;
}

.handle
{
    stroke: black;
    stroke-width: 5;
    stroke-linecap: round;
}

.handle text {
    stroke: none;
    fill: black;
    font-size: 3em;
}

.handle text.denominator {
    text-anchor: end;
}

.handle text.numerator {
    text-anchor: start;
}
.pad .num rect {
    fill: whitesmoke;
    /* pointer-events: all; */
}
.pad .num:hover rect {
    fill : gold;
    cursor: pointer;

}

.pad .enter 
{
    fill: lightgreen !important;
}
.pad .clear
{
    fill: pink !important; 
}

.pad .digit {
    text-anchor: middle;
    /* stroke-width: 1;
    stroke: black;
    fill: beige; */
    
}
.start {
    fill: lightgreen;
    cursor: pointer;
}
.start:hover 
{
    fill: gold;
}

#ask h2{
    text-align: center;
}
#ask > div {
    text-align: center;
}

#ask > div input, #ask .splitter {
    display: inline;
    margin: 0.15em;
}

#ask input {
    border-radius: 2em;
    max-width: 2.6em;
    text-align: center;
    font-size: 1.8em;
}

#ask .splitter {
    font-size: 2em;
}

#ask .btn 
{
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid darkgreen;
    color: darkgreen;
    background-color: lightgreen;
    border-radius: 1em;
    padding: 0.2em 0.9em;
}

.digit
{
    text-anchor: start;
}

.digit .holder {
    stroke-width: 0;
    fill: transparent;
}
.digit.enabled .holder
{
    stroke-width: 0.5;
    fill: white;
}

.digit.enabled:hover {
    cursor: pointer;

}

.digit.enabled:hover rect {
    fill: gold;
}